.container-fluid{
    padding-left: 50px;
    margin-top: 50px;
}

.gap{
margin-bottom: 25px;
}

.connection-card {
    border: 1px solid #2fca6f;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #f8f8f8;
}

.person-img {
    margin-left: -30px;
    border-radius: 100%;

    img {
        border-radius: 100%;
        border: 2px solid #fff;
        width: 60px;
        height: 60px;
    }
}

.name-portion {
    line-height: 0;
    margin-left: -50px;
    margin-top: 5px;
}
.below-contennt{
    margin-top: 10px;

    .comp-logo{
        float: right;
        margin: -10px 0;
    }
}

.group-logo{
    margin: 10px;
    img{
        width: 30px;
        height: 30px;
    }
}

.c-logo{
    margin: 10px;
    img{
        width: 50px;
        height: 50px;
    }
}

.pop-up{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    img{
        width: 25px;
    }
}
.modal-title{
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    color: #2fe12f;
}
.modal-body{
    font-size: 15px;
    text-align: start;
    line-height: 1.5;
    color: red;
    font-weight: 400;
    font-family: sans-serif;
}